<h1>Respond to Us!</h1>
<%= form_for @event, :url => event_create_path do |f| %>

  <%= f.label :name, "Event Name:" %><%= f.text_field :name %> <br />
  <%= f.label :date, "Event Date:" %><%= f.text_field :date %> <br />
  <%= f.label :location, "Location:" %><%= f.text_field :location %> <br />
  <%= f.label :host_email, "Your Email Address:" %><%= f.text_field :host_email %> <br />
  <%= f.label :description, "Description:" %> <br />
  <%= f.text_area :description %><br />
  <%= f.submit %>
<% end %>
