<%- flash.each do |key, msg| -%>
  <div class="notice" id="<%= key %>">
    <p style="float:right;"><%= link_to_function 'X', "$('##{key}').fadeOut('slow', function(){})" %></p>
    <p><%= msg %></p>
    <div class="clear"></div>
  </div>
<%- end -%>

<%= form_for @event do |f| %>
  <%= f.hidden_field :token, :value => @event.token %>
  <div id="event_description">
  <h1>Welcome to "<%=@event.name %>"!</h1> 
  <p>Responses:</p> 
  <ul>
    <li><%=@counts[:yes] %> Yes</li> 
    <li><%=@counts[:no] %> No</li> 
    <li><%=@counts[:maybe] %> Maybe</li>
  </ul>
  <% if @event.date.length > 0 %><p>On <b><%=@event.date %></b></p><% end %> 
  <% if @event.location.length > 0 %><p>At <em><%=@event.location %></em></p><% end %>
<p>Description:</p>
<p><%=@event.description %></p>
</div>
<%= render :partial => 'response_form', :locals => {:parent_form => f} %>
<% end %>
